<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympus Life Center</title>
    
    <link rel='stylesheet' href='../stylesheets/contacto.css'>
    <link rel='stylesheet' href='../stylesheets/header.css'>
    <link rel='stylesheet' href='../stylesheets/footer.css'>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
</head>
<body>

    <header id="header" class="container">
        <img src="../images/logo-olympus.png" alt="" class="logo-olympus">
        <div class="barra">
                <!-- <a href="./olympusEnCasa.html" class="navbar olympus">OLYMPUS EN CASA</a> -->
                <a href="./index.html" title="Inicio" class="navbar">HOME</a>
                <a href="./horarios.html" title="Actividades" class="navbar">HORARIOS</a>
                <a href="./actividades.html" title="Actividades" class="navbar">ACTIVIDADES</a>
                <a href="./planes.html" title="Planes" class="navbar">PLANES</a>
                <!-- <a href="./asociarse.html" title="Asociarse" class="navbar">ASOCIARSE</a> -->
                <!-- <a href="./contacto.html" title="Contacto" class="navbar">CONTACTO</a> -->
        </div>
    </header>


<div class="containerContacto">
    <h1 class="contactanos">CONTACTO</h1>
    <h2 class="telefono">
        <a href="https://api.whatsapp.com/send?phone=5491128692121">Tel: 11 2869 2121 Sólo Whatsapp</a> 
    </h2>
    <br>
    <h2 class="mailContacto">
        <a class="mailContacto" href = "mailto:olympuslifecenter@hotmail.com">olympuslifecenter@hotmail.com</a>
    </h2>
    <br>
    <div class="iconos">
        <a href="https://www.facebook.com/olympuslifecenter">
          <img src="../images/facebook.png" alt="" class="facebookContacto">
        </a>
        <a href="https://www.instagram.com/olympuslifecenter/" class="instagramContacto">
            <img src="../images/instagram1.png" style="width: 40px; height: 40px;">
        </a>
    </div>
    <!-- <h3 class="escribinos">Escribinos, o completá el siguiente formulario:</h3>
    <div class="contacto2">
        <form action="https://formspree.io/f/xdopywnb"  method="POST" enctype="text/plain">
            <label for="nombre" style="color: white"><p>Nombre: </p></label><input type="text" name="nombre" id="name" placeholder="Nombre completo" required></label>
            <label for="email" style="color: white"><p>Email: </p><input class="input" type="email" name="email" id="email" placeholder="Email" required></label>
            <div class="asunto">
               <select name="asunto" id="asunto" required>
                    <option name="asunto" value="">Asunto</option>
                    <option name="asunto" value="Tarifas">Actividades</option>
                    <option name="asunto" value="Tarifas">Planes</option>
                    <option name="asunto" value="Tarifas">Tarifas</option>
                    <option name="asunto" value="Horarios">Horarios</option>
                    <option name="asunto" value="Otros">Otro</option>
               </select>
            </div>
            <textarea name="mensaje" id="mensaje" placeholder="Escribe tu mensaje..." rows="5" required></textarea><br>
            <div class="enviar">
                <input type="submit" value="Enviar mensaje" class="enviarMensaje">
            </div>
        </form>
   </div> -->
</div>

<footer>
    <div class="footer">  
        <div class="contacto">
            <h3>CONTACTO</h3>
            <h4>Olympus Life Center</h4>
            <p class="contactanospa">Contactanos, estamos para ayudarte.</p>
            <a class="mail" href = "mailto: olympuslifecenter@hotmail.com">olympuslifecenter@hotmail.com</a>
            <br>
            <a href="https://api.whatsapp.com/send?phone=5491128692121">Tel: 11 2869 2121 Sólo Whatsapp</a> <br>
        
        </div>
        <div class="seguinos" >
            <img src="../images/logo-olympus.png" alt="" style="margin-top: 10px;" class="logo-footer">
            <h3>Seguinos</h3>
            <a href="https://www.facebook.com/olympuslifecenter">
                <img src="../images/facebook.png" style="width: 30px; height: 30px;">
            </a>
            <a href="https://www.instagram.com/olympuslifecenter/">
                <img src="../images/instagram1.png" style="width: 30px; height: 30px;">
            </a>
        </div>
    </div>
        </footer>

</body>
</html>