<!DOCTYPE html>
<html>
  <head>
    <title>Olympus Life Center</title>
    <link rel='stylesheet' href='../stylesheets/styles.css'>
    <link rel='stylesheet' href='../stylesheets/header.css'>
    <link rel='stylesheet' href='../stylesheets/footer.css'>
    
  </head>
  <body>

      <header id="header" class="container">
        <a href="./index.html" class="logo-olympus">
          <img src="../images/logo-olympus.png" alt="" class="logo">
        </a>
        <div class="barra">
                <!-- <p class="navbar">
                  <a href="./olympusEnCasa.html" class="navbar olympus">OLYMPUS EN CASA</a>
                </p> -->
                <p class="navbar">
                  <a href="./index.html" title="Inicio" class="navbar">HOME</a>
                </p>
                <p class="navbar">
                  <a href="./horarios.html" title="Actividades" class="navbar">HORARIOS</a>
                </p>
                <p class="navbar">
                  <a href="./actividades.html" title="Actividades" class="navbar">ACTIVIDADES</a>
                </p>
                <p class="navbar">
                  <a href="./planes.html" title="Planes" class="navbar">PLANES</a>
                </p>
                <!-- <p class="navbar">
                  <a href="./asociarse.html" title="Asociarse" class="navbar">ASOCIARSE</a>
                </p>
                <p class="navbar">
                <a href="./contacto.html" title="Contacto" class="navbar">CONTACTO</a>
                </p> -->
        </div>
        </nav>
    </header>

      <section class="cover portada">
        <p class="descripcion">VENÍ A CONOCER NUESTRAS INSTALACIONES</p>
        <a href="./enterateMas.html" class="enlace">ENTERATE MÁS</a>
      </section>

      <section class="cover actividades">
        <p class="descripcion">DESCARGÁ NUESTRA PLANILLA DE ACTIVIDADES</p>
        <a href="../images/planillaOlympus.pdf" class="enlace" download="Planilla Actividades Olympus">DESCARGAR</a>
      </section>

      <!-- <section class="cover suscribite">
        <p class="descripcion">SUSCRIBITE PARA CONOCER NUESTRAS PROMOS</p>
        <form action="https://formspree.io/f/xjvpjavj" method="POST">
          <label for="email"></label>
          <input type="email" placeholder="Tu correo.." name="email" id="email" required>
          <input type="submit" value="SUSCRIBIRME" class="submit">
        </form>
      </section> -->

      <footer>
        <div class="footer">  
            <div class="contacto">
                <h3>CONTACTO</h3>
                <h4>Olympus Life Center</h4>
                <p class="contactanospa">Contactanos, estamos para ayudarte.</p>
                <a class="mail" href = "mailto: olympuslifecenter@hotmail.com">olympuslifecenter@hotmail.com</a>
                <br>
                <a href="https://api.whatsapp.com/send?phone=5491128692121">Tel: 11 2869 2121 Sólo Whatsapp</a> <br>
            
            </div>
            <div class="seguinos" >
                <img src="../images/logo-olympus.png" alt="" style="margin-top: 10px;" class="logo-footer">
                <h3>Seguinos</h3>
                <a href="https://www.facebook.com/olympuslifecenter">
                    <img src="../images/facebook.png" style="width: 30px; height: 30px;">
                </a>
                <a href="https://www.instagram.com/olympuslifecenter/">
                    <img src="../images/instagram1.png" style="width: 30px; height: 30px;">
                </a>
            </div>
        </div>
      </footer>
  </body>
</html>
