* {
    box-sizing: border-box;
}

body{
    background-color: black;
    margin-top: 0px;
    font-family: Arial !important;
}

footer, form{
    font-family: Arial !important;
}
.container {
    background: rgba(0,0,0,0.9);
    position: absolute !important;
    margin-top: 0px;
}

.contactanos, .telefono, .mailContacto, .escribinos{
    color: white;
    padding-top: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    font-family: Arial;
}

.telefono {
    padding-top: 5px;
}

.mailContacto {
    padding-top: 0px;
    margin-top: 1px;
}

.facebookContacto{
    width: 45px;
    height: 45px;
    margin-left: 45%;
}

.instagramContacto {
    width: 30px;
    height: 30px;
    margin-left: 2%;
}

.escribinos {
    padding-top: 8px;
}

.contacto2 {
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 10px;
}

#name {
    width: 40%;
    padding: 5px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#email {
    width: 40%;
    padding: 5px;
    margin-top: 10px;
}

.asunto {
    width: 20%;
    padding: 20px;
    padding-left: 0px;
}

#mensaje {
    width: 85%;
    padding: 10px;
}

#submit {
    visibility: visible; 
    animation-name: fadeInUp; 
    padding: 3px; 
    padding-left: 5px; 
    padding-right: 5px;
    margin-top: 10px;
    margin-left: 37%;
}

.enviar {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enviarMensaje{
    color: rgb(255, 255, 255);
    border: 2px solid white;
    padding: 5px 20px;
    letter-spacing: 0px;
    background-color: transparent;
    font-weight: 600;
    border-radius: 4px;
}

.botonEnviar {
    text-align: center;
}

.mensaje {
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    color: white;
    margin-bottom: 3%;
    text-align: center;
    margin-right: 13%;
}

@media screen and (max-width: 500px) {
    .telefono{
        display: block;
        margin: auto;
        width: 95%;
    }
    .iconos{
        display: block;
        margin: auto;
        margin-left: 33% !important;
    }
    .facebookContacto{
        margin-left: 0 !important;
    }
    .mailContacto{
        width: 90%;
        margin: auto;
    }
    .contacto2 {
        margin-left: 10%;
    }
    #name, #email, #mensaje {
        width: 100%;
    }
    .enviar {
        margin-top: 5%;
        width: 100%;
    }
}