 * {
    box-sizing: border-box;
    font-family: Arial !important;
    margin-bottom: 0px;
}

.logo-footer {
    padding-left: 0%;
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo2{
    width: 15%;
}

h3, h4, p, a{
    color: white;
    padding-bottom: 2px;
}

.footer {
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    bottom: 0 !important;
    font-size: medium !important;
}

.facebook, .instagram{
    width: 30px;
    height: 30px;
}

.seguinos, .contacto {
    display: inline-block;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.seguinos {
    text-align: center;
    align-items: center;
}
.contacto {
    border-right: 1px solid grey;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-device-width: 500px) {
    .footer {
        display: inline;
        /* width: 100%; */
    }
    footer{
        margin-top: 10% !important;
        width: 80%;
        margin: auto;
    }
    .contacto, .seguinos {
        width: 100%;
        text-align: center;
        border-right: none;
        margin: auto;
        font-size: large;
        justify-content: center;
    }
    .contacto {
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: solid 1px gray;
    }
    .seguinos{
        margin-top: 2%;
    }
    .logo2{
        width: 40%;
    }
}