* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;

}

.container {
    display: flex;
    background: rgba(34, 34, 34, 0.4);
    position: fixed;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-align: center;
    border-bottom: 0%;
    padding-right: 0px;
    padding-left: 3%;
    padding: 10px;
    z-index: 10;
}

.barra {
    display: flex;
    float: right;
    justify-content: space-between;
    width: 70%;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: grey;
}

.navbar {
    /* min-height: 50px;
    margin-bottom: 20px;
    width: 70%;
    /* margin-right: 5%; */
    /* font-size: 20px;
    justify-content: space-between;
    align-items: center; */ 
    justify-content: space-between;
    margin: auto;
    height: auto !important;
}

.logo-olympus {
    width: 15%;
    margin-right: 5%;
    padding-left: 0%;
    margin-top: 0%;
    padding-top: 0%;
    margin-left: 6%;
}

.logo{
    width: 100%;
}

.olympus{
    font-size: medium;
    margin-right: 5%;
}

@media screen and (max-device-width: 500px) {
    body {
        width: 100% !important;
    }
    header#header.container{
        position: initial !important;
        padding: 0 !important;
    }
    .container {
        background-color: #302d2d80 !important;
    }
    .barra {
        width: 95% !important;
        display: flex;
        margin: auto;
        padding-bottom: 15px;
        /* padding-right: 7%; */
        padding-top: 30px;
    }
    .navbar {
        margin-bottom: 2%;
        width: 100%;
        /* padding: 2px 1px 0; */
    }
    .logo-olympus {
        margin-top: 3% !important;
        width: 50%;
        display: block;
        margin: auto;
    }
}